@import url('https://fonts.cdnfonts.com/css/calibre');

:root {
  --bg-color-light: rgba(104, 62, 62, 0.116);
  --bg-color-dark: rgb(29,44,51); 
  --color-light: rgb(100,106,255);
  --color-dark: rgb(0,209,199);
  --ff-primary: 'Calibre', sans-serif;
  --ff-secondary: 'Solway', serif; 
}

/* -------- UTILITY CLASSES ------------------ */
.bg-color-light {
  background: var(--bg-color-light);
}

.bg-color-dark {
  background: var(--bg-color-dark);
}

.text-color-light {
  color: var(--color-light);
}

.text-color-dark {
  color: var(--color-dark);
}

.bg-cta {
  background: var(--color-light) !important;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

p {
  line-height: 2rem;
  /* font-weight: 600; */
}
a {
  color: var(--color-txt) !important;
}

nav {
  letter-spacing: 0.0425rem;
}

.nav-link::before {
  width: 0%;
  bottom: -5px;
}

.nav-link:hover::before, 
.nav-link:active::before {
  width: 100%;
}

.nav-link {
  opacity: 0.75 !important;
  /* transition: 3000s; */
}

.btn2 {
  opacity: 0.88 !important;
  transition: 2000ms;
}

.nav-link:hover, .btn2:hover {
  opacity: 1 !important;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: var(--color-light);
}

@media (max-width: 767px) {
  .display-4, p {
    margin-left: 1rem;
    text-align: center;
  }
}

.mail {
  transform: rotate(-90deg);
}

@media (max-width: 940px) and (min-width: 767px) {
  .display-4, p {
    margin-left: 2rem;
  }
}
/* 
.rounded2 {
  width: 1rem;
  height: 1.3rem;
  border-radius: 40%;
} */

/* hr {margin-top: 3rem; margin-left: 1rem;} */